* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background-color: #0f172a;
  color: #e2e8f0;
}

/* HEADER */
header {
  text-align: center;
  padding: 40px 20px;
  background: #020617;
}

header h1 {
  font-size: 2.5rem;
  color: #38bdf8;
}

header p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #94a3b8;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.hero p {
  color: #94a3b8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #38bdf8;
  color: #020617;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

/* NAV */
nav {
  background: #020617;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

nav ul li {
  margin: 10px 15px;
}

nav a {
  color: #e2e8f0;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

/* SECTIONS */
section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

/* PROJECTS GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

/* PROJECT CARD */
.project {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.project:hover {
  transform: translateY(-8px);
}

.project h3 {
  margin-bottom: 10px;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  color: #38bdf8;
  text-decoration: none;
}

.project a:hover {
  text-decoration: underline;
}

/* TAGS */
.tags span {
  display: inline-block;
  background: #38bdf8;
  color: #020617;
  padding: 4px 8px;
  margin: 3px;
  border-radius: 5px;
  font-size: 0.75rem;
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills span {
  background: #020617;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #38bdf8;
}

/* CONTACT */
#contact a {
  color: #38bdf8;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  margin-top: 40px;
  color: #94a3b8;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
}